body {
	font: 11px/13px "Open Sans", sans-serif, arial;
	margin: 0;
}

h1 {
	font: 24px/30px "Open Sans", sans-serif, arial;
	margin: 0;
}

section {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 900px;
	width: 90%;
}

gw2-map {
	display: block;
	padding-bottom: 69.89%;
	width: 100%;
}

gw2-scorepanel,
gw2-notifications {
	display: block;
	width: 50%;
}
