body {
	font: 11px/13px "Open Sans", sans-serif, arial;
	margin: 0;
}

h1 {
	font: 24px/30px "Open Sans", sans-serif, arial;
	margin: 0;
}

section {
	display: flex;
	margin: 0 auto;
	max-width: 1140px;
	min-width: 900px;
	position: relative;
	width: 90%;
}

gw2-map {
	display: block;
	width: 100%;
}

gw2-scorepanel,
gw2-notifications {
	display: block;
	width: 50%;
}

gw2-matchespanel {
	background: #fff;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 50%;
	z-index: 1;
}
