table {
	border-collapse: collapse;
	border-spacing: 0;
	color: #707070;
	font: 11px/13px "Open Sans", sans-serif, arial;
	white-space: nowrap;
}

.name {
	position: relative;
	text-align: left;
}

.green_world .name {
	color: #1e7b2d;
}

.blue_world .name {
	color: #1a4da1;
}

.red_world .name {
	color: #b02822;
}

.name span {
	background: #fff;
	border: 1px solid #707070;
	color: #707070;
	display: none;
	left: 90px;
	min-width: 100px;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.name:hover span {
	display: block;
}

.bar > div {
	width: 75px;
}

.bar > div > div {
	border-radius: 5px;
	height: 6px;
	margin: 0;
}

.green_world .bar > div > div {
	background: #1e7b2d;
}

.blue_world .bar > div > div {
	background: #1a4da1;
}

.red_world .bar > div > div {
	background: #b02822;
}

thead {
	text-align: center;
}

tbody {
	text-align: right;
}

tbody td {
	padding: 0 10px 3px 0;
}

.worlds {
	text-align: left;
	width: 125px;
}

thead .victory_points {
	text-align: left;
}

.income,
tbody .current_score,
tbody .victory_points {
	width: 47px;
}

tbody .victory_points {
	padding-left: 64px;
}

.diff {
	width: 16px;
}

.chart_container {
	position: relative;
	width: 64px;
}

.chart {
	left: 0;
	position: absolute;
	top: 5px;
}
