:host table {
	border-collapse: collapse;
	border-spacing: 0;
	color: #707070;
	display: none;
	font: 11px/13px "Open Sans", sans-serif, arial;
	white-space: nowrap;
}

:host table.active {
	display: block;
}

:host .name {
	position: relative;
	text-align: left;
}

:host .green_world .name {
	color: #1e7b2d;
}

:host .blue_world .name {
	color: #1a4da1;
}

:host .red_world .name {
	color: #b02822;
}

:host .name span {
	background: #fff;
	border: 1px solid #707070;
	color: #707070;
	display: none;
	left: 90px;
	min-width: 100px;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	z-index: 1;
}

:host .name:hover span {
	display: block;
}

:host .bar > div {
	width: 75px;
}

:host .bar > div > div {
	border-radius: 5px;
	height: 6px;
	margin: 0;
}

:host .green_world .bar > div > div {
	background: #1e7b2d;
}

:host .blue_world .bar > div > div {
	background: #1a4da1;
}

:host .red_world .bar > div > div {
	background: #b02822;
}

:host thead {
	text-align: center;
}

:host tbody {
	text-align: right;
}

:host tbody td {
	padding: 0 10px 3px 0;
}

:host .worlds {
	text-align: left;
	width: 125px;
}

:host thead .victory_points {
	text-align: left;
}

:host .income,
:host tbody .current_score,
:host tbody .victory_points {
	width: 47px;
}

:host tbody .victory_points {
	padding-left: 64px;
}

:host .diff {
	width: 16px;
}

:host .chart_container {
	position: relative;
	width: 64px;
}

:host .chart {
	left: 0;
	position: absolute;
	top: 5px;
}
